
	.navbar{
	position: flex;
	top:0;
	width:100%;
	height:60px;
	background:gray;
	color:white;
	display: flex;
	align-items:center;
	padding: 0 25px;
	box-sizing: border-box;
	z-index: 1000;
	justify-content:center;
	
	}
	
	.nav-links {
	list-style: none;
	display:flex;
	gap: 25px;
	align-items:center;
	margin-right:end;
	
	}
	
	.nav-links li a {
	color: blue;
	text-decoration: none;
	font-size: 16px;
	transition: 0.3s;
	background-color: white;
	font-weight: bold;
	border-radius: 5px;
	
	
	}
	
	
	
	#content {
	padding: 80px 20px;
	}
	
	.logo {
	color:white;
	font-size: 20px;
	font-weight:bold;
	margin-right:auto;
	text-shadow:0 0 7px #fff, 0 0 10px #fff, 0 0 21px #ff00de;
	background-color: #4F4F4F;
	border-radius: 100%;
	padding: 10px;
	
	}
	
	.logo a {
	text-decoration: none;
	color: red;
	}
	
	section {
		background-image: linear-gradient(to right, blue, aqua);
		color: white;
		text-align: center;
		padding: 60px 20px;
		
		
	}
	
.link-hero{
		background-color: white;
		color: #007bff;
		padding: 10px 20px;
		text-decoration: none;
		font-weight: bold;
		border-radius: 5px;
		
	}
.link-hero:hover{
	background-color: Aqua;
	color-text: white;
	border-radius: 5px;
	font-weight: bold;
	text-decoration: none;
	
}

